[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
uvicorn = "*"
pylint = "*"
pytest = "*"
fastapi = "*"
requests = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
async-exit-stack = "*"
async-generator = "*"

[requires]
python_version = "3.6"
